{"openapi":"3.1.0","info":{"title":"Tagvote API","description":"Tagvote backend API documentation","contact":{"name":"Newdawn SOI","url":"https://vote.newdawnsoi.site/"},"version":"v1"},"servers":[{"url":"https://vote.newdawnsoi.site","description":"Generated server url"}],"paths":{"/api/users":{"get":{"tags":["user-controller"],"operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"post":{"tags":["user-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/questions":{"post":{"tags":["question-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}}}},"/api/public/votes":{"post":{"tags":["vote-controller"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoteCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoteResponse"}}}}}}},"/api/public/questions/{questionId}/tags":{"get":{"tags":["tag-controller"],"operationId":"getByQuestion","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagResponse"}}}}}}},"post":{"tags":["tag-controller"],"operationId":"create_3","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}}}}},"/api/public/event-users":{"post":{"tags":["event-user-controller"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventUserCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventUserResponse"}}}}}}},"/api/auth/logout":{"post":{"tags":["auth-controller"],"operationId":"logout","responses":{"200":{"description":"OK"}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthUserResponse"}}}}}}},"/api/votes/{voteId}":{"get":{"tags":["vote-controller"],"operationId":"getById","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoteResponse"}}}}}},"delete":{"tags":["vote-controller"],"operationId":"delete","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["vote-controller"],"operationId":"update","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoteUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoteResponse"}}}}}}},"/api/users/{userId}":{"get":{"tags":["user-controller"],"operationId":"getById_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}},"delete":{"tags":["user-controller"],"operationId":"delete_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["user-controller"],"operationId":"update_1","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/users/{userId}/roles":{"patch":{"tags":["user-controller"],"operationId":"updateRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/questions/{questionId}":{"get":{"tags":["question-controller"],"operationId":"getAccessibleQuestion","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionWithTagsResponse"}}}}}},"delete":{"tags":["question-controller"],"operationId":"delete_2","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["question-controller"],"operationId":"update_2","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}}}},"/api/public/tags/{tagId}":{"get":{"tags":["tag-controller"],"operationId":"getById_2","parameters":[{"name":"tagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}}}},"delete":{"tags":["tag-controller"],"operationId":"delete_3","parameters":[{"name":"tagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["tag-controller"],"operationId":"update_3","parameters":[{"name":"tagId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}}}}},"/api/votes":{"get":{"tags":["vote-controller"],"operationId":"getAll_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VoteResponse"}}}}}}}},"/api/votes/{voteId}/questions":{"get":{"tags":["question-controller"],"operationId":"getAccessibleQuestionsByVote","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuestionWithTagsResponse"}}}}}}}},"/api/users/me":{"get":{"tags":["user-controller"],"operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/public/votes/{voteId}/questions":{"get":{"tags":["question-controller"],"operationId":"getPublicQuestionList","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuestionWithTagsResponse"}}}}}}}},"/api/public/votes/{voteId}/events":{"get":{"tags":["vote-controller"],"operationId":"subscribe","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/public/votes/{voteId}/display":{"get":{"tags":["vote-controller"],"operationId":"getDisplay","parameters":[{"name":"voteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoteDisplayResponse"}}}}}}},"/api/auth/me":{"get":{"tags":["auth-controller"],"operationId":"me_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthUserResponse"}}}}}}}},"components":{"schemas":{"UserCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"password":{"type":"string","maxLength":100,"minLength":8}},"required":["name","password"]},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"roles":{"type":"array","items":{"type":"string","enum":["ADMIN","USER"]},"uniqueItems":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"QuestionCreateRequest":{"type":"object","properties":{"voteId":{"type":"integer","format":"int64"},"title":{"type":"string"},"detail":{"type":"string"},"imageUrl":{"type":"string","minLength":1},"imageRatio":{"type":"integer","format":"int64"}},"required":["imageRatio","imageUrl","voteId"]},"QuestionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"voteId":{"type":"integer","format":"int64"},"title":{"type":"string"},"detail":{"type":"string"},"imageUrl":{"type":"string"},"imageRatio":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"VoteCreateRequest":{"type":"object","properties":{"createdByUserId":{"type":"integer","format":"int64"},"name":{"type":"string","minLength":1}},"required":["name"]},"VoteResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createdByUserId":{"type":"integer","format":"int64"},"name":{"type":"string"},"status":{"type":"string","enum":["PROGRESS","END"]},"isMine":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"TagCreateRequest":{"type":"object","properties":{"questionId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["TEXT","PHOTO","VIDEO"]},"data":{"type":"string","minLength":1},"duration":{"type":"integer","format":"int32"},"locationX":{"type":"number","format":"float"},"locationY":{"type":"number","format":"float"}},"required":["data","duration","questionId"]},"TagResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"questionId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["TEXT","PHOTO","VIDEO"]},"data":{"type":"string"},"duration":{"type":"integer","format":"int32"},"locationX":{"type":"number","format":"float"},"locationY":{"type":"number","format":"float"},"isMine":{"type":"boolean"},"canDelete":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"EventUserCreateRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"phone":{"type":"string","minLength":1},"privacyConsent":{"type":"boolean"}},"required":["name","phone","privacyConsent"]},"EventUserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"phone":{"type":"string"},"privacyConsent":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"LoginRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["name","password"]},"AuthUserResponse":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"name":{"type":"string"},"roles":{"type":"array","items":{"type":"string","enum":["ADMIN","USER"]},"uniqueItems":true}}},"VoteUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string","enum":["PROGRESS","END"]}}},"UserUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"password":{"type":"string","maxLength":100,"minLength":8}}},"UserRoleUpdateRequest":{"type":"object","properties":{"roles":{"type":"array","items":{"type":"string","enum":["ADMIN","USER"]},"minItems":1,"uniqueItems":true}},"required":["roles"]},"QuestionUpdateRequest":{"type":"object","properties":{"title":{"type":"string"},"detail":{"type":"string"},"imageUrl":{"type":"string"},"imageRatio":{"type":"integer","format":"int64"}}},"TagUpdateRequest":{"type":"object","properties":{"type":{"type":"string","enum":["TEXT","PHOTO","VIDEO"]},"data":{"type":"string"},"duration":{"type":"integer","format":"int32"},"locationX":{"type":"number","format":"float"},"locationY":{"type":"number","format":"float"}}},"QuestionWithTagsResponse":{"type":"object","properties":{"question":{"$ref":"#/components/schemas/QuestionResponse"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagResponse"}}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"VoteDisplayResponse":{"type":"object","properties":{"voteId":{"type":"integer","format":"int64"},"voteName":{"type":"string"},"status":{"type":"string","enum":["PROGRESS","END"]},"questions":{"type":"array","items":{"$ref":"#/components/schemas/QuestionWithTagsResponse"}}}}}}}